################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ModernClasses/obj
/ModernClasses/.vs/ProjectEvaluation
/ModernClasses/.vs/ModernClasses/v17
/ModernClasses/.vs/ModernClasses/FileContentIndex
/ModernClasses/.vs/ModernClasses/DesignTimeBuild
/ModernClasses/bin/Debug/netstandard2.1
